name: Daily Lunch Update
on:
  schedule:
    - cron: "0 1 * * 1-6" # 한국 시간 매일 오전 10시 (월~토)
  workflow_dispatch: # 수동 실행 버튼 활성화

jobs:
  update-menu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: pip install selenium webdriver-manager requests
      - name: Run Crawler
        env:
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }} # 보안 설정된 키 사용
        run: python main.py
      - name: Commit changes
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add weekly_menu.json
          git commit -m "Update weekly menu" || exit 0
          git push
